.nav{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: black;
    color: whitesmoke;
}

.nav a{
    text-decoration: none;
    color: #FFFFFF;
    padding: 10px;
}

.nav a:hover{
    color: lightblue;
}

h1{
    background-color: black;
    color: #FFFFFF;
    padding-bottom: 0px;
    margin-top: 0;
    margin-bottom: 0;
}